
  <div id="addressHeader">
    <div id="bg">
      <div>
        <img src="<%=asset_path('background.jpg')%>" alt="Bring them home.">
        <div id="bg_overlay" class="overlay"></div>
      </div>
    </div>
    <div id="green_border">
    </div>
  </div>
<!--
<div class="header-main">
  <div>
    <img src="/assets/background.jpg">
  </div>
</div>
-->


<div id="main" class="header-main">
  <h1> Transen </h1>
  <div class="content-description">
    API para consulta sobre el transporte público en Ensenda
  </div>
  <div class="doc">
    <div class="btn">
      <a href="/documentacion"> Documentación </a>
    </div>
  </div>
  <div class="main-footer">
     2016
  </div>
</div>

